<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Template - HelloFlask{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        {% endblock %}
    {% endblock %}
</head>
<body>
<nav>
    <p><a href="{{ url_for('index') }}">Home</a></p>
</nav>
<main>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
{% block script %}
    <link rel="stylesheet" href="{{ url_for('static',filename='js/') }}">
{% endblock %}
</body>
</html>